# configuration
[server]
host = "0.0.0.0"
port = 9090
log = "debug"

[aws]
access_key_id = ""
secret_access_key = ""
region = "ap-northeast-1"

[common]
broadcast_port = 11090
timeout = 10
retry = 3

[file]
list_buffer_size = 5000
partsize = 5
thread = 64

[distributed]
list_buffer_size = 5000
job_size=300
partsize = 5
thread = 5
